{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
    <div id="row">
        <div class="col-md-4">
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Add player</h3>
            </div>
            <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              {{ form_row(form.player, {'attr': {'class': 'form-control', 'placeholder': 'Username'}}) }}
            </div><br>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Email</span>
              {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'test@google.com'}}) }}
            </div><br>
            {{ form_row(form.image) }}
            </div>
            <div class="panel-footer">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </div>
        </div>
        {{ form_end(form) }}
        </div>
        <div class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-body content">
          <table class="table">
            <thead> <tr> <th>#</th> <th>Player</th> <th>Rank</th> <th>Zee Mug</th> </tr> </thead>
            <tbody>
            {% if all is empty %}
            <tr> <td colspan="4" class="textcenter">No players found</td> </tr> 
            {% else %}
            {% for item in all %}
            <tr><td>{{ item.id }}</td><td>{{ item.player }}</td><td>{{ item.rank }}</td><td><a href="#" class="thumbnail"><img src="/uploads/images/{{ item.image }}"></a></td></tr> 
            {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
        </div>
        </div>
        <div class="col-md-4">
        {{ form_start(form2, {'action': path('vote')}) }}
        <div class="panel panel-default">
        <div class="panel-heading">Vote</div>
        <div class="panel-body">
        <div class="alert alert-danger hidden" role="alert">Only images allowed</div>
        {{ form_errors(form2) }}
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Email</span>
          {{ form_row(form2.email, {'attr': {'class': 'form-control', 'placeholder': 'test@google.com'}}) }}
        </div><br>
        <div class="input-group">
        {% if all is empty %}
            <select class="form-control"><option>No users present</option></select>
        {% else %}
          {{ form_row(form2.touser, {'attr': {'class': 'form-control'}}) }}
        {% endif %}
        </div><br>
        <div class="input-group">
          {{ form_row(form2.score, {'attr': {'class': 'form-control'}}) }}
        </div><br>
        <button type="submit" class="btn btn-default">Submit</button>
        </div>
        </div>
        {{ form_end(form2) }}
        </div>
    </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
body { padding-top: 3rem; }
body h3 { margin-top: 10px; }
.textcenter { text-align: center; }
.thumbnail { max-width: 50px; max-height: 50px; }
</style>
{% endblock %}
